# BA886 - Capstone 2021
# Sample Python Code for Downloading Yahoo! Finance Data for U.S. Stocks
- Professor Peter Wysocki
- Perpetual Investors Projects
- February 2021

**Description:**
- The following code cells contain example code that uses the *yfinance* package to download stock market data for U.S. Companies
- Please see the short video posted on the BA886 site on QuestromTools (under Media Gallery) that gives an explanation of this code
- You may run this "ipynb" on Google Colab
or in Jupyter Notebooks

**Important: Documentation on the "yfinance" package can be found here:**

- https://aroussi.com/post/python-yahoo-finance

- https://pypi.org/project/yfinance/

- https://www.datasciencelearner.com/yahoo-finance-api-python/

In [1]:
# Install yfinance package using pip (use pip3 for installing a package for Python3)
!pip3 install yfinance

Collecting yfinance
  Downloading yfinance-0.1.55.tar.gz (23 kB)
Requirement already satisfied: pandas>=0.24 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from yfinance) (1.1.4)
Requirement already satisfied: numpy>=1.15 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from yfinance) (1.19.4)
Requirement already satisfied: requests>=2.20 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from yfinance) (4.6.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /Users/maralinetorres/opt/anaconda3/envs/msba/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22618 sha256=eb798d35392b73966d92148f0560066631fb1110c79bda654ef8592b02637541
  Stored in directory: /Users/maralinetorres/Library/Caches/pip/wheels/b4/c3/39/9c01ae2b4726f37024bba5592bec868b47a2fab5a786e8979a
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8367 sha256=ba625200ac06b769bd633590038678a50727f691f53f21a7a586e9ed95c2e6de
  Stored in directory: /Users/maralinetorres/Library/Caches/pip/wheels/57/6d/a3/a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.55

In [2]:
# We will use the following packages: "pandas" (for dataframes) and yfinance (to get data)
# So import these packages (reference as "pd" and "yf" for the code).
import pandas as pd
import yfinance as yf

In [3]:
# We will download stock market data for 10 European companies
# This example uses the 3 companies (you have more to do)
# IMPORTANT!!!! - See instructions from Prof. Wysocki to learn how to get the correct tickers

# This list has the 3 tickers separated by spaces
tickers = 'MSFT AAPL IBM'

# We will create a pandas dataframe with the name 'df_yahoo'.
# We will use the yf (yfinance) download function to get the data from the Yahoo! Finance website.
# The yf function uses the following parameters:
#   -> tickers: The list of tickers
#   -> period: How many years of data to download? In this case 10 years '10y' from today
#   -> interval: Trequency of data. In this case, we will get monthly data '1mo'
#   -> group_by: data will be grouped by ticker

df_yahoo = yf.download(tickers, period="10y", interval="1mo", group_by = 'ticker')

[*********************100%***********************]  3 of 3 completed

In [4]:
# List the first 5 rows of the dataframe

df_yahoo.head()

                 AAPL                                              \
                 Open       High        Low      Close  Adj Close
Date
2011-02-15        NaN        NaN        NaN        NaN        NaN
2011-03-01  12.695357  12.916786  11.652143  12.446786  10.721204
2011-04-01  12.539643  12.683214  11.434286  12.504643  10.771044
2011-05-01  12.490714  12.565357  11.765000  12.422500  10.700285
2011-05-06        NaN        NaN        NaN        NaN        NaN

                                 IBM                                      \
                  Volume        Open        High         Low       Close
Date
2011-02-15           NaN         NaN         NaN         NaN         NaN
2011-03-01  1.130646e+10  163.149994  167.720001  151.710007  163.070007
2011-04-01  9.253829e+09  163.699997  173.000000  162.190002  170.580002
2011-05-01  6.912060e+09  172.110001  173.539993  165.899994  168.929993
2011-05-06           NaN         NaN         NaN         NaN         NaN

                                          MSFT                        \
             Adj Close       Volume       Open       High        Low
Date
2011-02-15         NaN          NaN        NaN        NaN        NaN
2011-03-01  116.558899  129714300.0  26.600000  26.780001  24.680000
2011-04-01  121.926849  100769500.0  25.530001  26.870001  24.719999
2011-05-01  120.747505  110804200.0  25.940001  26.250000  24.030001
2011-05-06         NaN          NaN        NaN        NaN        NaN


                Close  Adj Close        Volume
Date
2011-02-15        NaN        NaN           NaN
2011-03-01  25.389999  20.306141  1.310885e+09
2011-04-01  25.920000  20.730015  1.313845e+09
2011-05-01  25.010000  20.002222  1.364063e+09
2011-05-06        NaN        NaN           NaN

In [5]:
# If we just wish to list the data for the stock ticker AAPL, we would do:

dd = df_yahoo['AAPL']

In [8]:
tickname='AAPL'
dd['Ticker'] = tickname
dd

<ipython-input-8-fbec861fd074>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['Ticker'] = tickname

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2011-02-15,NaN,NaN,NaN,NaN,NaN,NaN,AAPL
2011-03-01,12.695357,12.916786,11.652143,12.446786,10.721204,1.130646e+10,AAPL
2011-04-01,12.539643,12.683214,11.434286,12.504643,10.771044,9.253829e+09,AAPL
2011-05-01,12.490714,12.565357,11.765000,12.422500,10.700285,6.912060e+09,AAPL
2011-05-06,NaN,NaN,NaN,NaN,NaN,NaN,AAPL
...,...,...,...,...,...,...,...
2021-01-01,133.520004,145.089996,126.379997,131.960007,131.763107,2.239426e+09,AAPL
2021-02-01,133.750000,137.880005,130.929993,135.389999,135.187988,6.600613e+08,AAPL
2021-02-05,NaN,NaN,NaN,NaN,NaN,NaN,AAPL
2021-02-09,NaN,NaN,NaN,NaN,NaN,NaN,AAPL
2021-02-11,135.899994,136.389999,133.772293,135.130005,135.130005,6.205838e+07,AAPL

In [9]:
name_CSV_file = tickname + '_yfinance.csv'

dd.to_csv(name_CSV_file)