In [1]:
! pip install scikit-plot
# imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import scikitplot as skplt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn import metrics

Collecting scikit-plot
  Downloading https://files.pythonhosted.org/packages/7c/47/32520e259340c140a4ad27c1b97050dd3254fdc517b1d59974d47037510e/scikit_plot-0.3.7-py3-none-any.whl
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.0.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (0.22.2.post1)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (3.2.2)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->scikit-plot) (1.19.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.4.0->scikit-plot) (1.15.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7

In [2]:
company=pd.read_csv("company_data.csv")
sector=pd.read_excel("iShares SP500 constituents.xlsx")

In [5]:
combine=pd.merge(company,sector,on='Ticker')

In [6]:
combine.head(3)

   Year Ticker  ...  Market Currency  Accrual Date
0  2005    AEE  ...              USD             -
1  2006    AEE  ...              USD             -
2  2007    AEE  ...              USD             -

[3 rows x 44 columns]

In [8]:
combine['Utilities'] = np.where(combine['Sector']== 'Utilities', 1, 0)
combine.head(3)

   Year Ticker  ...  Accrual Date  Utilities
0  2005    AEE  ...             -          1
1  2006    AEE  ...             -          1
2  2007    AEE  ...             -          1

[3 rows x 45 columns]

In [10]:
conditions = [
    (combine['Year'] == 2005),
    (combine['Year'] == 2006),
    (combine['Year'] == 2007),
    (combine['Year'] == 2008),
    (combine['Year'] == 2009),
    (combine['Year'] == 2010),
    (combine['Year'] == 2011),
    (combine['Year'] == 2012),
    (combine['Year'] == 2013),
    (combine['Year'] == 2014),
    (combine['Year'] == 2015),
    (combine['Year'] == 2016),
    (combine['Year'] == 2017),
    (combine['Year'] == 2018),
    (combine['Year'] == 2019),
    ]

# create a list of the values we want to assign for each condition
values = ['0', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14']

# create a new column and use np.select to assign values to it using our lists as arguments
combine['Timetrend'] = np.select(conditions, values)

# display updated DataFrame
combine.head(3)

   Year Ticker  ...  Utilities  Timetrend
0  2005    AEE  ...          1          0
1  2006    AEE  ...          1          1
2  2007    AEE  ...          1          2

[3 rows x 46 columns]